body {
    margin-top: 85px;
    margin-bottom: 85px;
    padding: 30px;
    background-color: #1F2937;
    color: white;
}

span{
    color: #4ADF86;
}

h1{
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -0.030em;
}

h3{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #D5D4D8;
    font-size: 20px;
}

button{
    border: none;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background: #10B981;
    margin-top: 30px;
    margin-bottom: 30px;
}

hr{
    border: 1px solid #2F3E53;
}

.c2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 25px;
    margin-top: 15px;
}

.lightback{
    background-color: #273549;
    height: 39px;
    width: 211px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
}

input{
    border: none;
    background-color: #273549;
    height: 39px;
    width: 50px;
    border-radius: 8px;
    color: white;
    padding: 10px;
    text-align: center;
}